@import url('font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --primeText: #1D2130;
    --secondText: #525560;
    --greenPrime: #70C174;
    --greenSecond: #BEF3C0;
    --black: #000000;
    --offWhite: #ffffff;
    --pop: 'Poppins';
    --rob: 'Roboto';
}

body {
    font-family: var(--rob);
    font-weight: 400;
    background: var(--offWhite);
    color: var(--primeText);
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: auto;
}

/* header */
.nav .container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav_link {
    color: var(--secondText);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: 0.4s;
    padding: 12px 32px;
    border-radius: 4px;
}

.nav_link:hover {
    color: #ffffff;
    transition: 0.4s;
    background: var(--black);
}

.intro {
    background: url('../img/bckg.png')no-repeat center / cover;
    min-height: 735px;
}

.intro_title {
    color: var(--offWhite);
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    max-width: 640px;
    padding-bottom: 50px;
}

.intro .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 735px;
}

.intro_link {
    color: var(--offWhite);
    padding: 16px 32px;
    border-radius: 4px;
    transition: 0.4s;
}

.intro_link:hover {
    background: var(--offWhite);
    color: var(--black);
    transition: 0.4s;
}

.intro_down {
    padding-top: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro_down-txt {
    color: var(--offWhite);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.intro_down-line {
    max-width: 860px;
    width: 100%;
    height: 1px;
    background: var(--offWhite);
}

/* header */

/* main */
.about {
    padding: 95px 0 65px;
}

.section_item {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.section_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--black);
    max-width: max-content;
}

.section_grid {
    display: grid;
    grid-template-columns: 705px 480px;
    align-items: center;
    justify-content: space-between;
}

.section_item-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    margin: 32px 0;
    max-width: 640px;
}

.section_item-txt {
    max-width: 605px;
    font-size: 16px;
    line-height: 160%;
    color: var(--secondText);
    margin-bottom: 50px;
}

.section_link {
    padding: 16px 32px;
    background: var(--greenPrime);
    color: var(--offWhite);
    backdrop-filter: blur(40px);
    border-radius: 4px;
    max-width: 145px;
    transition: 0.4s;
}

.section_link:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.support {
    border: none;
    margin-bottom: 30px;
}

.supporter_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
}

.supporters_icon {
    transition: 0.4s;
}

.supporters_icon:hover {
    transform: scale(1.1);
    opacity: 0.7;
    transition: 0.4s;
}

.what_we_do {
    background: #EFF7F2;
    padding: 95px 0;
}

.section_functions {
    margin-left: 25px;
}

.section_functions-item {
    max-width: 435px;
    display: flex;
    margin-bottom: 25px;
}

.section_functions-item img {
    max-height: 30px;
    max-width: 30px;
    margin-right: 25px;
}

.section_functions-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.section_functions-txt-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project_grid {
    display: grid;
    grid-template-columns: repeat(3, 410px);
    grid-template-rows: 420px;
    justify-content: space-between;
    margin-bottom: 95px;
}

.project_item {
    background: url('../img/project1.png')no-repeat center / cover;
}

.project_item:nth-of-type(2) {
    background: url('../img/project2.png')no-repeat center / cover;
}

.project_item:nth-of-type(3) {
    background: url('../img/project3.png')no-repeat center / cover;

}

.project_item-txt-block {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 80px 48px 48px 48px;
}

.project_item-title {
    color: var(--offWhite);
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    padding-bottom: 15px;
}

.project_item-subtitle {
    font-size: 16px;
    line-height: 160%;
    color: var(--offWhite);
    margin-bottom: 65px;
}

.project_item-link {
    padding: 16px 32px;
    color: var(--black);
    background: var(--offWhite);
    backdrop-filter: blur(40px);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.stats {
    background: #0B0706;
    padding: 95px 0;
}

.stat {
    color: var(--offWhite);
}

.stats_subtitle {
    color: var(--offWhite);
    opacity: 0.6;
    padding-bottom: 32px;
}

.stats_txt-block {
    max-width: 610px;
}

.stats_item-color {
    background: #BEF3C0;
    border-radius: 4px;
    width: 15px;
    height: 15px;
}

.stats_item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.stats_color-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--offWhite);
}

.stats_item-color2 {
    background: #AC94F1;
    border-radius: 4px;
    width: 15px;
    height: 15px;
}

.stats_item-color3 {
    background: #FFF0CA;
    border-radius: 4px;
    width: 15px;
    height: 15px;
}

.stats_item-color4 {
    background: #F9CF64;
    border-radius: 4px;
    width: 15px;
    height: 15px;
}

.stats_item-color5 {
    background: #F38FBF;
    border-radius: 4px;
    width: 15px;
    height: 15px;
}

.stats_items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stats .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta {
    background: url('../img/cta_bckg.png')no-repeat center;
    margin: 95px 0;
    padding: 93px 324px 92px 325px;
    border-radius: 12px;
}

.cta_title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--offWhite);
    padding-bottom: 32px;
}

.cta_links {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.cta_link {
    padding: 16px 32px;
    background: var(--offWhite);
    display: inline;
    color: var(--black);
    border-radius: 4px;
    transition: 0.4s;
}

.cta_link:hover {
    background: var(--greenPrime);
    color: var(--offWhite);
    transition: 0.4s;
}

.news {
    margin-bottom: 95px;
}

.news_grid {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-between;
    margin-top: 50px;
}

.news_item-img {
    margin-bottom: 15px;
}

.news_item-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.news_item-subtitle {
    color: var(--secondText);
    font-size: 16px;
    line-height: 160%;
}

/* main */

/* footer */
.footer {
    padding: 95px 0;
    background: #0B0706;
}

.footer .container {
    display: grid;
    grid-template-columns: 105px 365px 545px;
    justify-content: space-between;
}

.footer_lists {
    display: flex;
    align-items: center;
    max-width: 365px;
    justify-content: space-between;
}

.footer_link {
    color: var(--offWhite);
    opacity: 0.78;
    font-size: 14px;
    line-height: 160%;
    padding-bottom: 25px;
    display: inline-block;
}

.footer_link:nth-la {
    padding-bottom: 0px;
}

/* footer */